@import 'less/constant.less';

/* By setting "opts.ellipsis" value, update "ellipsis_width" */
@ellipsis_width: 2em;

&>div {
	overflow: hidden;
	height: 100%;
	padding-right: 6px;
}

&>div>p {
	float: right;
	width: 100%;
	margin-left: -5px;
}

&>div:before  {
	content: '';
	float: left;
	width: 5px;
	height: 100%;
}

&>div>u {
	text-decoration: none;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	position: relative;
	float: right;
	left: 100%;
	top: -14px;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	padding-right: 5px;
	text-align: right;

	width: @ellipsis_width;
	margin-left: -@ellipsis_width;

	background: -webkit-gradient(linear, left top, right top,
		from(rgba(255, 255, 255, 0)), to(white), color-stop(30%, white));
	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 30%, white);
	background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 30%, white);
	background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 30%, white);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 30%, white);
}

&>div>u:before {
	content: '\02026';
}

.error();