<script>
indigoStatic.jqueryReady = function($, indigo) {
	$('body').fadeTo('fast', 1);
	var div = $('.spa-content'),
		templates = {},
		loadPage = function() {
		if (location.hash) {
			var page = location.hash.split('#').pop();
			if (page !== (div.attr('tid') || '').split('/').pop()) {
				var template = $('[type="text/igo-template"][tid=' + page + ']');
				if (template.length) {
					div.attr('tid', page).html('');
					if (template.attr('lazy') === 'true') {
						template.attr('lazy', false);
						templates[page] = $('<div></div>').load('content/' + page);
					} else if (!templates[page]) {
						templates[page] = template.html();
					}
					div.append(templates[page]);
				}
			}
		}
	};

	window.onhashchange = function() {
		loadPage();
	};
	loadPage();

	indigo.debug('Page Ready');
	if (document.createEvent) {
		var event = document.createEvent('HTMLEvents');
		event.initEvent('Ready', true, true);
		window.dispatchEvent(event);
	} else {
		window.fireEvent('onReady', document.createEventObject());
	}
}
</script>
<div class="spa-content"></div>