<div class="container">
	<div class="row">
		<div class="col-md-6 column">
			<div class="fieldset">
				<label><%= locales.content.appConfig %></label>
				<span>
					<div class="fileContainer">
						<input id="appConfFile" placeholder="<%= locales.content.selectApp %>" disabled="disabled" />
					</div>
					<div class="fileUpload btn btn-primary button">
						<span><%= locales.content.browse %>...</span>
						<input type="file" class="upload" />
					</div>
				</span>
			</div>
			<div class="jqGridContainer">
				<table class="jqgrid"></table>
			</div>
		</div>

		<div class="col-md-6 column">
			<div class="fieldset">
				<label><%= locales.content.filter %></label>
				<span><select id="filter"></select></span>
			</div>
			<div class="jqGridContainer">
				<table class="jqgrid"></table>
			</div>
		</div>

		<div class="col-md-6 column">
			<input type="checkbox" class="wordWrap"><%= locales.content.wordWrap %></input>
				<input type="checkbox" class="preview"><%= locales.content.preview %></input>
			<div class="col">
				<span><%= locales.content.default %></span>
				<div>{{defaultLocale}}<div>
			</div>
			<div class="col">
				<div class="default"><div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span><%= locales.content.localized %></span>
				<div>{{selectedLocale}}<div>
			</div>
			<div class="col">
				<textarea class="localized" width="100%" rows="5" wrap="off"></textarea>
			</div>
		</div>
		<div class="row">
			<span><%= locales.content.saveFile %></span>
			<input type="text" id="file"/>
			<button class="btn save"><%= locales.content.save %></button>
			<button class="btn cancel"><%= locales.content.cancel %></button>
		</div>
	</div>
</div>