<div class="container">
	<div class="row">
		<div class="fildset language">
			<label><%= locales.content.language %></label>
			<span><select id="language">
				<% for(var i = 0; i < langcode.length; i++) {%>
					<option value="<%= langcode[i][0] %>" <% if (langcode[i][0] === defaultLocale.key) { %> selected <% } %> ><%= langcode[i][1] %></option>
				<% } %>
			</select></span>
		</div>
		<div class="fildset filter">
			<label><%= locales.content.filter %></label>
			<span><select id="filter">
				<option value="all">All</option>
				<% for(var i = 0; i < filters.length; i++) {%>
					<option><%= filters[i] %></option>
				<% } %>
			</select></span>
		</div>
	</div>

	<div class="row">
		<div class="jqGridContainer">
			<table class="jqgrid"></table>
		</div>
	</div>

	<div class="row col-md-12, fildset details">
		<div class="columnLeft">
			<div>
				<span><%= defaultLocale.name %></span>
				<b><%= defaultLocale.key.toUpperCase() %></b>
			</div>
		</div>
		<span><div class="columnRight">
			<textarea class="localized" rows="3" wrap="off" disabled></textarea>
		</div></span>
	</div>

	<div class="row col-md-12, fildset details">
		<div class="columnLeft">
			<div>
				<span>{{localizedLocale.name}}</span>
				<b>{{localizedLocale.key}}</b>
			</div>
		</div>
		<span><div class="columnRight">
			<textarea class="localized" rows="3" wrap="off"></textarea>
		</div></span>
		<div class="footer">
			<input type="checkbox" class="wordWrap"><span><%= locales.content.wordWrap %></span>

			<button class="btn btn-custom"><%= locales.content.save %></button>
		</div>
	</div>
</div>