<div class="container">
	<div class="row">
		<div class="fildset filter">
			<label><%= locales.content.filter %></label>
			<span><select id="filter">
				<option value="all"><%= locales.content.all %></option>
				<% for(var i = 0; i < filters.length; i++) {%>
					<option><%= filters[i] %></option>
				<% } %>
			</select></span>
		</div>
	</div>

	<div class="row">
		<div class="jqGridContainer">
			<table id="jqgrid" class="jqgrid"></table>
		</div>
	</div>

	<div class="row col-md-12, fildset details">
		<div class="columnLeft">
			<div class="default">
				<span>{{defaultLocale.name}}</span>
				<b>{{defaultLocale.key}} %></b>
			</div>
		</div>
		<span><div class="columnRight">
			<textarea class="default" rows="3" wrap disabled></textarea>
		</div></span>
	</div>

	<div class="row col-md-12, fildset details">
		<div class="columnLeft">
			<div class='localized'>
				<span>{{localizedLocale.name}}</span>
				<b>{{localizedLocale.key}}</b>
			</div>
		</div>
		<span><div class="columnRight">
			<textarea class="localized" rows="3" wrap ng-disabled="selectedRowId == null"></textarea>
		</div></span>
		<div class="footer">
			<button class="btn btn-custom-gray" data-toggle="modal" data-target="#newDialog" ng-disabled="selectedFile == 'all'"><%= locales.content.newRecord %></button>
			<button class="btn btn-custom-gray" data-toggle="modal" data-target="#createlDialog"><%= locales.content.createFile %></button>
			<button class="btn btn-custom-blue btn-save" data-toggle="modal" data-target="#saveDialog"><%= locales.content.save %></button>
		</div>
	</div>
</div>