<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="Localization Tool">
<meta name="keywords" content="indigojs, localization, locale">
<meta name="author" content="David Gofman">
<link rel="shortcut icon" href="/favicon_16x16.ico">

<title><%= locales.content.pageTitle %></title>

<link rel="stylesheet" type="text/css" href="css/ui.jqgrid.css">
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui<%= extCSS %>">
<link rel="stylesheet" media="screen" href="css/bootstrap<%= extCSS %>">
<link rel="stylesheet" type="text/css" href="css/custom.less">

<script src="js/vendor/require-2.1.15<%= extJS %>" data-main="js/main-<%= environment %>"></script>