@import 'less/constant.less';

margin: 0;
display: inline-block;
text-indent: 0;

&>label {
	padding: 0;
	text-indent: 20px;
	line-height: 17px;
	position: relative;
	cursor: pointer;
	.noselect();
}

&[disabled]>label {
	color: #ccc;

	input + i:before {
		border-color: #ccc;
	}
}

input {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	left: 0;
	top: 0;
}

i:before {
	border: 1px solid #9a9a9a;
	border-radius: 4px;
	content: '\00a0';
	display: inline-block;
	font-size: 14px !important;
	line-height: 17px;
	height: 17px;
	width: 18px;
	text-indent: 0;
	margin: -1px 5px 0 -20px;
	vertical-align: top;
	text-align: center;
	padding-right: 3px;
	background: #fff;
	color: #0d76d0;
	font-weight: bold;
}

input:checked + i:before {
	content: '\2713';
}

.partial input:checked + i:before {
	content: '\2580';
	padding: 3px;
}

u {
	text-decoration: none;
}