<%
	var label = '',
		labelField = opts.labelField || 'label',
		dataField = opts.dataField || '',
		menus = opts.menus || [],
		open = opts.open || false,
		selectedIndex = isNaN(opts.selectedIndex) ? -1 : opts.selectedIndex,
		defaultItemRenderer = '<li>%LABEL%</li>',
		itemRenderer = orgItemRenderer = opts.itemRenderer,
		labelRenderer = orgLabelRenderer = opts.labelRenderer,
		item, lis = [];

		if (typeof itemRenderer === 'string') {
			itemRenderer = function() {
				return orgItemRenderer;
			}
		}
		if (typeof labelRenderer === 'string') {
			labelRenderer = function() {
				return orgLabelRenderer;
			}
		}

	menus.forEach(function(menu, index) {
		if (typeof menu === 'string') {
			var item = {};
			item[labelField] = menu;
			menu = item;
		}
		$assign(req, menu);

		if (itemRenderer) {
			item = itemRenderer(menu, opts, defaultItemRenderer, index);
		} else {
			item = defaultItemRenderer;
		}
		if (menu.selected) {
			if (labelRenderer) {
				label = labelRenderer(menu, opts, defaultItemRenderer, index).replace('%LABEL%', menu[labelField]);
			} else {
				label = menu[labelField] || menus[index] || '';
			}
			selectedIndex = index;
		}
		lis.push(item.replace('%LABEL%', menu[labelField]).replace('%DATA%', menu[dataField]));
	});

	if (label == '' && menus.length > selectedIndex && selectedIndex !== -1) {
		var menu = menus[selectedIndex] || {};
		if (labelRenderer) {
			label = labelRenderer(menu, opts, defaultItemRenderer).replace('%LABEL%', menu[labelField]);
		} else {
			label = menu[labelField] || menus[selectedIndex] || '';
		}
	}
%>
<div tabindex="-1" type="button"<%- $attr('dataField', 'df') %><%- labelField == 'label' ? '' : ` lf="${labelField}"` %><%- selectedIndex !== -1 ? ` selectedIndex="${selectedIndex}"` : '' %>>
	<span unselectable="on" tabindex="-1"></span>
	<div role="menuitem"<%- $title() %><%- $attr('style') %><%- $attr('prompt') %>><%- label %></div>
<%
	if (itemRenderer) {
%>
	<script type="text/template" rel="ir"><%- itemRenderer(opts.dataField ? {} : '', opts, defaultItemRenderer) %></script>
<%
	}
%>
<%
	if (labelRenderer) {
%>
	<script type="text/template" rel="lr"><%- labelRenderer(opts.dataField ? {} : '', opts, defaultItemRenderer) %></script>
<%
	}
%>
</div>
<ul<%- open ? ' class="open"' : '' %> tabindex="-1"><%- lis.join(''); %></ul>