<%
	var prompt = opts.prompt || '',
		labelField = opts.labelField || 'label',
		dataField = opts.dataField || '',
		menus = opts.menus || [],
		open = opts.open || false,
		selectedIndex = opts.selectedIndex || -1,
		defaultItemRenderer = '<li>%LABEL%</li>',
		itemRenderer, lis = [];

	for (var index in menus) {
		var menu = menus[index];
		if (typeof menu === 'string') {
			var item = {};
			item[labelField] = menu;
			menu = item;
		}
		if (opts.itemRenderer) {
			itemRenderer = opts.itemRenderer(menu, opts, defaultItemRenderer);
		} else {
			itemRenderer = defaultItemRenderer;
		}
		if (selectedIndex !== -1 || menu.selected) {
			prompt = menu[labelField] || '';
			selectedIndex = index;
		}
		lis.push(itemRenderer.replace('%LABEL%', menu[labelField]).replace('%DATA%', menu[dataField]));
	}

	if (prompt == '' && menus.length && selectedIndex !== -1) {
		var menu = menus[selectedIndex] || {};

		if (opts.promtRenderer) {
			prompt = opts.promtRenderer(req, menu, selectedIndex);
		} else {
			prompt = menu[labelField] || '';
		}
	}
%>
<div tabindex="-1" type="button"<%- opts.$attr('dataField', 'df') %><%- labelField == 'label' ? '' : ` lf="${labelField}"` %><%- selectedIndex !== -1 ? ` selectedIndex="${selectedIndex}"` : '' %>>
	<span unselectable="on" tabindex="-1"></span>
	<div role="menuitem"<%- opts.$title(req) %><%- opts.$attr('style') %>><%- prompt %></div>
<%
	if (opts.itemRenderer) {
%>
	<script type="x-template"><%- itemRenderer %></script>
<%
	}
%>
</div>
<ul<%- open ? ' class="open"' : '' %> tabindex="-1"><%- lis.join(''); %></ul>