<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <link rel="shortcut icon" href="/favicon_16x16.ico">
  <title>Error <%= code %>. <%= message %></title>
  <style>
    html{font:15px arial,sans-serif}
	p{margin:10px 0;padding:0}
	div{position:absolute;width:700px;height:200px;top:50%;left:50%;margin:-100px 0 0 -250px}
	a{text-decoration:none;color:#4B0082;font-weight:bold;font-size:20px}
	a span{background:#4B0082;color:#fff;padding:4px;margin:2px}
  </style>
  <div>
    <p><a href="http://www.indigo.com" class="logo">indigo<span>JS</span></a></p>
    <p><b><%= code %>.</b> <span><%= message %></span></p>
    <p><%- details %></p>
  </div>
 </html>