@base: '/static';
@images: '@{base}/images';

@outer_padding: 1.2rem;
@inner_padding: 1.6rem;
@white-color: #FFF;
@equinix-color:#CE232A;
@dust-color:#868686;

.gradient(@startColor, @endColor, @cross) when (@cross = true) {
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startcolor', endColorstr='@endColor', GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor',endColorstr='@endColor',GradientType=1);
}

.background(@startColor: #eeeeee, @endColor: #cccccc, @cross: false) {
	background-color: @endColor;
	background: linear-gradient(to bottom, @startColor, @endColor);
	.gradient(@startColor, @endColor, @cross);
}

.error_color(@selector: '') {
	@error: ~'.error_field @{selector}';
	&@{error} {
		color: #f00;
	}
}

.error_border(@selector: '') {
	@error: ~'.error_field @{selector}';
	&@{error} {
		border: 1px solid #f00;
	}
}

.error(@selector: '') {
	@error: ~'.error_field @{selector}';
	&@{error} {
		color: #f00;
		border: 1px solid #f00;
	}
}

.cursor() {
	cursor: pointer;
}

.noselect() {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	/* IE 6-9 unselectable="on" */
}

.line-ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.overlay() {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	display: none;
}

.transition(@delay, @cross) when (@cross = true) {
	-webkit-transition: max-height @delay;
	-moz-transition: max-height @delay;
	-ms-transition: max-height @delay;
	-o-transition: max-height @delay;
}

.easyOut(@delay: 0.4s, @cross: false) {
	overflow: hidden;
	max-height: 0;
	transition: max-height @delay ease-out;
	.transition(@delay, @cross);
}

.easyIn(@delay: 0.5s, @cross: false, @max_height: 500px) {
	max-height: @max_height;
	transition: max-height @delay ease-in;
	.transition(@delay, @cross);
}

.disabledColor {
	color: #aaa !important;
}

.headers() {
	h1, h2, h3, h4, h5, h6 {
		margin: 5px;
		font-weight: 500;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.33em;
	}
	h4 {
		font-size: 1.17em;
	}
	h5 {
		font-size: 0.83em;
	}
	h6 {
		font-size:  0.67em;
	}
}