@import './constant.less';

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

.pull-right {
	float: right!important;
}

.pull-left {
	float: left!important;
}

.hide {
	display: none!important;
}

.show {
	display: block!important;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 768px) {
	.screen {
		display: none;
	}
}

@media (min-width: 768px) {
	.container &>div {
		float: left;
	}

	.col-1 {
		width: 8.33333333%;
	}

	.col-2 {
		width: 16.66666667%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33333333%;
	}

	.col-5 {
		width: 41.66666667%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33333333%;
	}

	.col-8 {
		width: 66.66666667%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33333333%;
	}

	.col-11 {
		width: 91.66666667%;
	}

	.col-12 {
		width: 100%;
	}
}