<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#"><%= locales.navbar.company %></a></li>
				<li><a href="#"><%= locales.navbar.team %></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= locales.navbar.product %>
							<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><%= locales.navbar.link1 %></a></li>
						<li class="divider"></li>
						<li><a href="#resetPassword"><%= locales.navbar.link2 %></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>