<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/favicon.ico">

<title><%= locales.common.pageTitle %></title>

<link rel="stylesheet" media="screen" href="/static/css/bootstrap<%= extCSS %>">
<link rel="stylesheet" type="text/css" href="/static/css/custom<%= extLESS %>">

<script src="/static/js/vendor/require-2.1.15<%= extJS %>" data-main="/static/js/main-<%= environment %>"></script>