<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/favicon.ico">

<title><%= locales.common.pageTitle %></title>

<link rel="stylesheet" media="screen" href="<%- baseStaticPath %>/css/bootstrap<%= extCSS %>">
<link rel="stylesheet" type="text/css" href="<%- baseStaticPath %>/css/common<%= extLESS %>">

<script>
	window.__baseStaticPath__ = '<%- baseStaticPath %>';
</script>

<script src="<%- baseStaticPath %>/js/vendor/require-2.1.15<%= extJS %>" data-main="<%- baseStaticPath %>/js/main-<%= environment %>"></script>