// Color variables

@white: #fff;
@black: #000;
@gray: #eee;
@margin: 10px;


@font_normal: Arial,Helvetica,Sans;
@font_bold: "Arial Black",Impact,"Sans Bold";

html body {
  font-family: @font_normal;
  background-color: @gray;
  color: @black;
  margin: 0;
  padding: 0;
}

.button {
	cursor: pointer;
	cursor: hand;
}

.btn-custom {
  background-color: hsl(201, 98%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0291de", endColorstr="#016297");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0291de), to(#016297));
  background-image: -moz-linear-gradient(top, #0291de, #016297);
  background-image: -ms-linear-gradient(top, #0291de, #016297);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0291de), color-stop(100%, #016297));
  background-image: -webkit-linear-gradient(top, #0291de, #016297);
  background-image: -o-linear-gradient(top, #0291de, #016297);
  background-image: linear-gradient(#0291de, #016297);
  border-color: #016297 #016297 hsl(201, 98%, 26.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}