@import './common.less';
@import './loading.less';

.container {
	margin-top: 20px;
}

input, select, textarea {
	border-radius: 5px;
	border: 1px solid;
	border-color: #a9a9a9;
	background-color: white;
	text-indent: 5px;
	height: 22px;
	color: gray;
}

textarea[disabled] {
	background-color: @gray;
}

.fildset {

	label {
		float: left;
		padding-right: 5px;
	}

	span {
		overflow: hidden;
		display: block;

		* {
			width: 100%;
		}
	}
}

.filter {
	width: 100%;
}

.language {
	width: 300px;
	float: right;
	margin-left: 10px;
}

.jqGridContainer {
	width: 100%;
	float: left;
	margin-top: @margin;
}

.details {
	height: 85px;
	margin-top: @margin;

	> div {
		height: 100%;
	}

	textarea {
		height: 100%;
		width: 100%;
	}

	.footer {
		float: right;

		input {
			float: left;
			margin: 0 5px 0 0;
		}

		button {
			margin-top: 10px;
			width: 120px;
		}
	}
}

.columnLeft {
	width: 150px;
	float: left;
	display:table;

	> div {
		display:table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.columnRight {
	width: 100%;
}

.footer {
	font-weight: bold;

	.text-right {
		color: #4B0082;
	}
}