@import './common.less';
@import './loading.less';
@import './progress.less';

.container {
	margin-top: 20px;
}

input, select, textarea {
	border-radius: 5px;
	border: 1px solid;
	border-color: #a9a9a9;
	background-color: white;
	text-indent: 5px;
	height: 22px;
	color: gray;
}

textarea[disabled] {
	background-color: @gray;
}

.fildset {
	clear: both;
	margin-top: @margin;

	label {
		float: left;
		padding-right: 5px;
		min-width: 90px;
	}

	span {
		overflow: hidden;
		display: block;

		* {
			width: 100%;
		}
	}
}

.jqGridContainer {
	width: 100%;
	float: left;
	margin-top: @margin;
}

.details {
	height: 65px;
	margin-top: @margin;

	> div {
		height: 100%;
	}

	textarea {
		height: 100%;
		width: 100%;
	}

	.footer {
		float: right;

		button {
			margin-top: 10px;
			width: 120px;
		}
	}
}

.columnLeft {
	width: 150px;
	float: left;
	display:table;

	> div {
		display:table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.columnRight {
	width: 100%;
}

.modal-dialog {
	position:absolute;
	top:50% !important;
	left: 50% !important;
	margin: -150px 0 0 -200px;
	width:400px;
	height:300px;
}

.jqgrid-column {
	text-indent: 4px;

	td:eq(2) {
		font-weight: bold !important;
		color: red;
	}
}

.del-column {
	width: 24px;
	text-indent: 0;
	padding: 5px !important;
	cursor: pointer;
	margin-left: -4px;
}

.deleteOther {
	float: left;

	input {
		float: left;
		margin: 0 5px 0 0;
	}
}