@import './common.less';

.fieldset {
	margin: 10px 0;

	label {
		float: left;
	}

	span {
		overflow: hidden;
		display: block;
		padding: 0 4px 0 10px;

		* {
			width: 100%;
			height: 22px;
		}

		input, select {
			border-radius: 5px;
			border: 1px solid;
			border-color: #a9a9a9;
			background-color: white;
			text-indent: 5px;
			color: gray;
		}
	}
}

.fileContainer {
	padding-right: 110px;
	margin-right: -100px;
	float: left;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	max-width: 100px;
	padding: 1px;

	input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}

.jqGridContainer {
	width: 100%;
	float: left;
}