<ul<%- opts.$attr('style') %><%- opts.$label(req, opts.title || 'Menu Control') %>><%
	var labelRenderer = opts.labelRenderer || function(item) { return item; };
	for (var index in opts.menus) {
		var menu = JSON.parse(JSON.stringify(opts.menus[index])),
			itemRenderer = menu.itemRenderer || opts.itemRenderer;
		menu.get = opts.$get;
		menu.attr = opts.$attr;

		if (itemRenderer) {
%>
	<%- itemRenderer(req, opts, menu, index) %>
<%
		} else {
			var label = labelRenderer(menu);
			if (menu.nav === opts.selected_nav) {
				menu.class = 'selected ' + (menu.class || '');
			}
%>
	<li<%- opts.$label(req, label) %><%- opts.$attrs(menu.attrs) %><%- menu.attr('class') %><%- menu.attr('style') %><%- menu.get('disabled', ' disabled') %>><a tabindex="-1" href="<%- menu.nav || '#' %>"><%- label %></a>
<%
	if (menu.sub) {
%>
		<ol><%
		for (var i in menu.sub) {
			var sub = menu.sub[i],
				label = labelRenderer(sub);
			sub.get = opts.$get;
			sub.attr = opts.$attr;
%><li<%- opts.$label(req, label) %><%- opts.$attrs(sub.attrs) %><%- sub.attr('class') %><%- sub.attr('style') %><%- sub.get('disabled', ' disabled') %>><p><a tabindex="-1" href="<%- sub.nav || '#' %>"><%- label %></a></p></li><%
		}
%></ol>
<%
}
%>
	</li><%
		}
	}
%>
</ul>