@shadow_width: 55;

position: relative;
display: inline-block;
height: 100%;
width: 100%;
overflow: hidden;
line-height: 1.4;

&>span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

&>.ellipsis {
	position: absolute;
	right: 2px;
	bottom: 0;
	padding-left: 50px;
	background: -webkit-gradient(linear, left top, right top,
		from(rgba(255, 255, 255, 0)), to(white), color-stop(~'@{shadow_width}%', white));
	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white ~'@{shadow_width}%', white);
	background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white ~'@{shadow_width}%', white);
	background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white ~'@{shadow_width}%', white);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white ~'@{shadow_width}%', white);
}