<script>
<%- $include(`templates/spa/scripts${minify}.js`) %>
</script>

<%- $sharedStyle(`${baseStaticPath}/css/common${extLESS}`) %>

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="<%- baseStaticPath %>/css/index<%- extLESS %>">

<script src="<%- baseStaticPath %>/js/vendor/require-2.3.2<%- extJS %>"></script>
<script src="<%- baseStaticPath %>/js/indigo/core<%- extJS %>"></script>

<style>
	body {
		opacity: 0;
	}
</style>

<![CDATA[ Create page with built-in content ]]>
<script type="text/igo-template" tid="home">
	<h1>Static Home Page</h1>
	<p><a href="#home/services">Home Services</a></p>
	<p><a href="#home/protection">Home Protection</a></p>
</script>

</head>
<body>
	<header class="igo-header">
		<%- $include(`templates/header.html`) %>
	</header>

	<div class="igo-content"></div>

	<footer class="igo-footer">
		<%- $include(`templates/footer.html`) %>
	</footer>
</body>