@import './constant.less';

html, body {
	height: 100%;
	font: @font_normal;
	color: #333;
}

body {
	margin: 0;
}

input[type=checkbox] {
	margin: -2px 2px 0 0;
	vertical-align: middle;
}

div, li {
	cursor: default;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;

	&>.header {
		height: 40px;
		padding: 10px;
		border: 1px solid #1c50d8;
		background-color: #31708f;
		font: @font_bold;
		color: @white;
	}

	&>.content {
		flex: 1;
		height: 100%;
		width: 100%;
		padding: 20px;

		h1>span{
			text-transform: uppercase;
		}
	}

	&>.footer {
		height: 40px;
		padding-top: 10px;
		background-color: #337ab7;
		color: @white;

		.powered {
			position: absolute;
			background: url("@{images}/indigo.png") no-repeat right center; 
			right: 10px;
			color: @white;
			padding: 7px 30px;
			margin-top: -7px;
		}
	}
}