@white: #fff;
@black: #000;
@red: #f00;
@light-gray: #F0F0F0;
@link-color: #0066CC;
@link-hover-color: #0099ff;

@app-background: @white;

@max-width: 960px;
@min-height: 600px;
@border-radius: 5px;
@border: 1px solid #cccccc;

@base: '/static';
@images: '@{base}/images';

@arial: Arial, Verdana, sans-serif;
@helvetica: Helvetica, @arial;

@font_normal: 13px @helvetica;
@font_bold: bold @font_normal;

.gradient(@startColor: #eeeeee; @endColor: #cccccc) {
	background-color: @endColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startcolor', endColorstr='@endColor', GradientType=1);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor',endColorstr='@endColor',GradientType=1);
}

.cursor() {
	cursor: pointer;
}
/*cursor: hand;*/

.appLayout() {
	background-color: @app-background;
	border: @border;
}

.noselect() {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
	/* IE 6-9 unselectable="on" */
}

.line-ellipsis() {
	font: 13px @arial;
	overflow: hidden;
	white-space: nowrap;
	ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}