<!DOCTYPE html>
<html lang="<%- locality.langugage %>">
<head>
<title><%- locales.common.pageTitle %></title>
<%- $include(`templates/meta.html`) %>
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="<%- baseStaticPath %>/css/index<%- extLESS %>">

<script src="<%- baseStaticPath %>/js/vendor/require-2.3.2<%- extJS %>"></script>
<script src="<%- baseStaticPath %>/js/indigo/core<%- extJS %>"></script>
<style>
	body {
		opacity: 0;
	}
</style>
</head>
<body>
	<header class="igo-header">
		<%- $include(`templates/${app_template}/header.html`) %>
	</header>
	<section class="igo-content">
		<%- $include(`templates/${app_template}/content.html`) %>

		<%
			if (app_template === 'spa') {
		%>
<!-- DEMO SPA CONTENT -->
<%- $include(`${app_template}-content.html`) %>
		<%
			}
		%>
	</section>
	<footer class="igo-footer">
		<%- $include(`templates/${app_template}/footer.html`) %>
	</footer>
</body>
<%- $finalize() %>
</html>