<!DOCTYPE html>
<html lang="<%- locality.langugage %>">
<head>
<title><%- locales.common.pageTitle %></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge;" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="<%- baseStaticPath %>/css/index<%- extLESS %>">

<%- inject(req, 'components/head.html') %>
</head>
<body>
	<%- inject(req, 'templates/header.html') %>

	<iframe class="content" frameborder="0" height="100%" width="100%"></iframe>

	<%- inject(req, 'templates/footer.html') %>
</body>
<%- finalize(req) %>
</html>