<!DOCTYPE html>
<html lang="<%- locality.langugage %>">
<head>
<title><%- locales.common.pageTitle %></title>

<% include meta.html %>

<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="<%- baseStaticPath %>/css/index<%- extLESS %>">

<script src="<%- baseStaticPath %>/js/vendor/require-2.3.2<%- extJS %>"></script>
<script src="<%- baseStaticPath %>/js/indigo/core<%- extJS %>"></script>
</head>
<body>
	<%- inject(req, 'templates/header.html') %>
	<iframe class="content" frameborder="0" height="100%" width="100%"></iframe>
	<%- inject(req, 'templates/footer.html') %>
</body>
<%- finalize(req) %>
</html>