// Color variables

@white: #fff;
@black: #000;
@red: #f00;
@light-gray: #F0F0F0;


@font_normal: 12px Arial,Helvetica,sans-serif;
@font_bold: bold @font_normal;

html, body {
	height: 100%;
	font: @font_normal;
	background-color: @white;
	color: @black;
}

body {
	> .wrapper {
		min-height: 96%;
		overflow: auto;
	}

	> .footer {
	bottom: 0;
		left: 0;
		position: relative;
		width:100%;
		font-weight: bold;
	}
}