// Color variables

@white: #fff;
@black: #000;
@red: #f00;


@font_normal: 12px Arial,Helvetica,sans-serif;
@font_bold: bold @font_normal;

html body {
	font: @font_normal;
	background-color: @white;
	color: @black;
	margin: 0;
	padding: 0;
}
