<div>
	<span>IFrame-Page Application (FPA)</span>
	<%- $('menu', {menus: [
		{
			"label": "HOME",
			"nav": "#home/",
			"sub": [
				{
					"label": "Home Services",
					"nav": "#home/services",
					"sub": [
						{
							"label": "Home Service Menu1"
						},
						{
							"label": "Home Service Menu2"
						},
						{
							"label": "Home Service Menu3"
						}
					]
				},
				{
					"label": "Home Protection",
					"nav": "#home/protection",
					"sub": [
						{
							"label": "Home Protection Menu1"
						},
						{
							"label": "Home Protection Menu2"
						}
					]
				}
			]
		},
		{
			"label": "PRODUCT",
			"nav": "#product/"
		},
		{
			"label": "CONTACT US",
			"nav": "#contact",
			"sub": [
				{
					"label": "About",
					"nav": "#about"
				}
			]
		}
	]}) %>
</div>