<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			padding: 10px;
		}

		h3 {
			color: blue;
		}

		br {
			line-height: 25px;
		}

		.center {
			margin: 0 30%;
		}

		.dropdown {
			margin-bottom: 10px;
		}

		.custom * {
			color: red !important;
			text-decoration: underline;
		}

		.myswitch input:checked + .slider {
			background-color: red !important;
		}

		.textstyle {
			position: relative;
			display: block !important;
			min-height: 100px;
			width: 400px; border: 1px solid green;
		}

		.menu_style {
			width: 100%;
			height: 30px;
		}

		.menu_style>li a {
			margin: 0 10px;
		}

		.menu_style>li:after {
			content: '\25BC';
			position: absolute;
			top: 7px;
			right: 0;
			color: #fff;
		}
	</style>
</head>
<body>
<section>
	<%
		var icon = baseStaticPath + '/images/indigo.png';
		var text = data.text;
	%>
	<h1><%- pageTitle %></h1>

	<h3>Button:</h3>
	<div ig-ns="button">
		<%- $(req, 'button', {label: `${locales.common.helloworld} - 1`}, 'customTag') %>

		<%- $(req, 'button', {label: `${locales.common.helloworld} - 2`, id: 'mybutton'}) %>

		<%- $(req, 'button', {label: `${locales.common.helloworld} - 3`, icon: icon}) %>

		<%- $(req, 'button', {label: `${locales.common.helloworld} - 4`, icon: icon, icon_align: 'right'}) %>

		<%- $(req, 'button', {label: `${locales.common.helloworld} - 5`, style: 'color: green; font-weight: bold'}) %>

		<%- $(req, 'button', {label: `${locales.common.helloworld} - 6`, class: 'custom'}) %>

		<%- $(req, 'button', {label: `${locales.common.helloworld} - 7`, disabled: true}) %>
	</div>

	<h3>Checkbox:</h3>
	<div ig-ns="checkbox">
		<%- $(req, 'checkbox', {label: `${locales.common.helloworld} - 1`, id: 'mycheckbox'}) %> <br/>

		<%- $(req, 'checkbox', {label: `${locales.common.helloworld} - 2`, checked: true}) %> <br/>

		<%- $(req, 'checkbox', {label: `${locales.common.helloworld} - 3`, checked: true, partial: true}) %> <br/>

		<%- $(req, 'checkbox', {label: `${locales.common.helloworld} - 4`, style: 'color: green; font-weight: bold'}) %> <br/>

		<%- $(req, 'checkbox', {label: `${locales.common.helloworld} - 5`, class: 'custom'}) %> <br/>

		<%- $(req, 'checkbox', {label: `${locales.common.helloworld} - 6`, disabled: true}) %>
	</div>

	<h3>Dropdown:</h3>
	<div ig-ns="dropdown">
		<%- $(req, 'dropdown', {id: 'mydropdown'}) %>

		<%- $(req, 'dropdown', {prompt: `${locales.common.helloworld} - 1`, menus: ['Menu1', 'Menu2', 'Menu3'], style: 'color: green; font-weight: bold'}) %>

		<%- $(req, 'dropdown', {prompt: `${locales.common.helloworld} - 2`, class: 'custom'}) %>

		<%- $(req, 'dropdown', {prompt: `${locales.common.helloworld} - 3`, disabled: true}) %> <br/>

		<%- $(req, 'dropdown', {prompt: `${locales.common.helloworld} - 4`, labelName: 'name', menus: [{name:'Menu1'}, {name:'Menu2'}, {name:'Menu3'}]}) %>

		<%- $(req, 'dropdown', {prompt: `${locales.common.helloworld} - 5`, menus: data.dropdown}) %>

		<%
			function customPromt(req, menu) {
				return $(req, "checkbox", {label: menu});
			};

			function customDropdownMenu(req, opts, lis) {
				opts.menus.forEach(function(menu) {
					lis.push(`<li>${customPromt(req, menu)}</li>`);
				});
				return 2;
			}
		%>

		<%- $(req, 'dropdown', {open: true, menus: ['Menu1', 'Menu2', 'Menu3'], promtRenderer: customPromt, itemRenderer: customDropdownMenu}) %>
	</div>

	<h3>Switch:</h3>
	<div ig-ns="switch">
		<%- $(req, 'switch') %>

		<%- $(req, 'switch', {title: 'Network Control', checked: true}) %>

		<%- $(req, 'switch', {title: 'Settings', checked: true, id: 'myswitch', class: 'myswitch'}) %>

		<%- $(req, 'switch', {title: 'Power Control', checked: true, disabled: true}) %>
	</div>

	<h3>Text:</h3>
	<div ig-ns="text">
		<%- $(req, 'text', {value: text, class: 'textstyle'}) %><br/>

		<%- $(req, 'text', {value: text, height: 'auto', editable: true, class: 'textstyle', parentStyle: 'border-color: blue'}) %><br/>

		<%- $(req, 'text', {value: text, height: 'full', editable: true, class: 'textstyle', parentStyle: 'border-color: yellow'}) %><br/>

		<%- $(req, 'text', {value: text, height: 55, editable: true, class: 'textstyle', parentStyle: 'border-color: magenta'}) %><br/>

		<div class="">
		<%- $(req, 'text', {value: text, fontSize: 20, lineHeight: 2, rows: 2, class: 'textstyle', parentStyle: 'border-color: red', style: 'color: green'}) %><br/>

		<%- $(req, 'text', {value: function(req, opts) { return text.substring(0, 45) + '...' }, class: 'textstyle', parentStyle: 'min-height: 22px; border-color: orange'}) %>
	</div>

	<h3>Tooltip:</h3>
	<div ig-ns="tooltip">
		<div class="center">
			<b>Tooltip Top</b>
			<div class="textstyle">
				<%- $(req, 'text', {value: text, height: 'autp', class: 'textstyle'}) %>
				<%- $(req, 'tooltip', {value: 'That is custom text', position: 'top', style: 'color: green; font-weight: bold'}) %>
			</div>
		</div><br/>

		<div class="center">
			<b>Tooltip Bottom</b>
			<div class="textstyle">
				<%- $(req, 'text', {value: text, height: 'auto', class: 'textstyle'}) %>
				<%- $(req, 'tooltip', {position: 'bottom', width: '400px', class: 'custom'}) %>
			</div>
		</div><br/>

		<div class="center">
			<b>Tooltip Left</b>
			<div class="textstyle">
				<%- $(req, 'text', {value: text, height: 'auto', class: 'textstyle'}) %>
				<%- $(req, 'tooltip', {position: 'left', height: '200px'}) %>
			</div>
		</div><br/>

		<div class="center">
			<b>Tooltip Right - Scroll</b>
			<div class="textstyle">
				<%- $(req, 'text', {value: text, height: 'auto', class: 'textstyle'}) %>
				<%- $(req, 'tooltip', {position: 'right', height: '200px', scroll: 100, scrollTimeout: 700}) %>
			</div>
		</div>
	</div>

	<h3>Input:</h3>
	<div ig-ns="input">
		<%- $(req, 'input', {value: 'Hello World'}) %><br/><br/>
		<%- $(req, 'input', {value: 'Hello', type: 'password', maxlen: 5, required: true, style: 'width: 400px; color: green'}) %><br/><br/>
		<%- $(req, 'input', {value: 'Hello World', class: 'custom', disabled: true}) %>
	</div>

	<h3>Menu:</h3>
	<div ig-ns="menu">
		<%- $(req, 'menu', {class: 'menu_style', menus: data.menu}) %>
	</div>

	<h3>Image:</h3>
	<div ig-ns="image">
		<%- $(req, 'image', {url: '/static/images/indigo.png', parentStyle: 'width: 30px; height: 30px', title: 'indigo JS'}) %>
		<%- $(req, 'image', {url: '/static/images/indigo.png', parentStyle: 'width: 30px; height: 30px', title: 'indigo JS', img: true}) %>
	</div>

	<h3>Fieldset:</h3>
	<div ig-ns="fieldset">
		<%- $(req, 'fieldset', {
			right: function(req, opts) {
				return '<button>OK</button>';
			},
			content: function(req, opts) {
				return `<input value="${opts.default}"/>`;
			}, parentStyle: 'display: block; width: 300px; padding: 10px; border: 1px solid red',
			default: `${locales.common.helloworld} - 1`
		}) %>

		<%- $(req, 'fieldset', {
			left: function(req, opts) {
				return '<button>OK</button>';
			},
			content: function(req, opts) {
				return $(req, 'input', {value: opts.default});
			}, parentStyle: 'display: block; width: 400px; padding: 10px; margin: 10px 0; border: 1px solid green',
			default: `${locales.common.helloworld} - 2`
		}) %>

		<%- $(req, 'fieldset', {
			content: function(req, opts) {
				return `<input type="text" value="${opts.default}" style="width: 100%"/>`;
			}, parentStyle: 'display: block; width: 400px; padding: 10px; margin: 10px 0; border: 1px solid green',
			default: `${locales.common.helloworld} - 3`
		}) %>
	</div>

	<h3>One-way Data Binding:</h3>
	<div ig-ns="one-binding" class="clearfix" style="width: 400px; padding: 10px; border: 1px solid green">
		<%- $(req, 'fieldset', {
			left: function() {
				return '<b>Username:</b>';
			},
			content: function(req) {
				return $(req, 'input');
			}
		}) %><br/>
		<%- $(req, 'fieldset', {
			left: function() {
				return '<b>Password:</b>';
			},
			content: function(req) {
				return $(req, 'input', {type: 'password'});
			}
		}) %><br/>
		<%- $(req, 'button', {label: 'Submit', class: 'pull-right'}) %>
	</div>

	<h3>Two-way Data Binding:</h3>
	<div ig-ns="two-binding">
		<div ig-ns="menu_text">
			<%- $(req, 'dropdown', {menus: data.dropdown}) %><br/>
			<%- $(req, 'input', {value: `${locales.common.helloworld}`}) %><br/>
			<%- $(req, 'checkbox', {label: `${locales.common.helloworld}`}) %><br/>
			<%- $(req, 'switch') %><br/>
			<b>Tooltip Text:</b>
			<div class="tooltip-wrap" style="border: 1px solid blue">
				<%- $(req, 'text', {value: `${locales.common.helloworld}`}) %>
				<%- $(req, 'tooltip') %>
			</div><br/>
			<b>Dropdown Index:</b> <%- $(req, 'input', {id: 'selDropIndex', type: 'number', disabled: true}) %><br/>
			<%- $(req, 'button', {label: 'Button'}) %>
		</div>

		<hr/>

		<div ig-ns="check_switch">
			<%- $(req, 'checkbox', {label: `${locales.common.helloworld}`, checked: true}) %> <br/>
			<%- $(req, 'switch', {checked: true}) %>
			<%- $(req, 'button', {label: 'Button 1', id: 'mybutton'}) %>
			<%- $(req, 'button', {label: 'Button 2'}) %>
			<%- $(req, 'image', {url: '/static/images/indigo.png', parentStyle: 'width: 30px; height: 30px'}) %><br/>
			<%- $(req, 'text') %>
		</div>
	</div>
</section>

<%- finalize(req, `${baseStaticPath}/js/views/main${extJS}`, true) %>
</body>
</html>