<script type="text/template" id="templ">
	<h1>HEADER 1</h1>
	<h2>HEADER 2</h2>
	<h3>HEADER 3</h3>
	<h4>HEADER 4</h4>
	<h5>HEADER 5</h5>
	<h6>HEADER 6</h6>
</script>

<%
	var icon = `${baseStaticPath}/images/indigo.png`;

	var customDay = [1,2,3,4,5,6,7],
		customMonth = ['J1','F2','M3','A4','M5', 'J6', 'J7', 'A8', 'S9', 'O10', 'N11', 'D12'];

	var loremIpsum = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.';

	var templ = `<b>&lt;script</b> type="<b>text/template</b>" id="<i>templ</i>"&gt;<br/>
		&emsp;&lt;h1&gt;<span class="val">HEADER 1</span>&lt;/h1&gt;<br/>
		&emsp;&lt;h2&gt;<span class="val">HEADER 2</span>&lt;/h2&gt;<br/>
		&emsp;&lt;h3&gt;<span class="val">HEADER 3</span>&lt;/h3&gt;<br/>
		&emsp;&lt;h4&gt;<span class="val">HEADER 4</span>&lt;/h4&gt;<br/>
		&emsp;&lt;h5&gt;<span class="val">HEADER 5</span>&lt;/h5&gt;<br/>
		&emsp;&lt;h6&gt;<span class="val">HEADER 6</span>&lt;/h6&gt;<br/>
	<b>&lt;/script&gt;</b><br/><br/>`;

	function code(cid, params, before, after) {
		before = before || '';
		after = after || '';
		var opts = [];
		for (var key in params) {
			opts.push(`<span class="key">${key}</span>: <span class="val">${params[key]}</span>`);
		}
		return `<div class="code">
			${before}
			<b>&lt;%- $(</b>'<span class="cid">${cid}</span>', {${opts.join(', ')}} <b>) %&gt;</b>
			${after}
		</div>`;
	}
%>
<div class="left">
	<ul>
		<b>Packages:</b><br/>
		<div><b>igo</b></div>
		<div><a href="index#jui/">jui</a></div>
		<hr/>

		<li><a href="#igo/accordion">Accordion</a></li>
		<li><a href="#igo/button">Button</a></li>
		<li><a href="#igo/checkbox">Checkbox</a></li>
		<li><a href="#igo/datefield">DateField</a></li>
		<li><a href="#igo/dialog">Dialog</a></li>
		<li><a href="#igo/dropdown">Dropdown</a></li>
		<li><a href="#igo/file">File</a></li>
		<li><a href="#igo/hbox">HBox</a></li>
		<li><a href="#igo/image">Image</a></li>
		<li><a href="#igo/input">Input</a></li>
		<li><a href="#igo/menu">Menu</a></li>
		<li><a href="#igo/radio">Radio</a></li>
		<li><a href="#igo/switch">Switch</a></li>
		<li><a href="#igo/tabs">Tabs</a></li>
		<li><a href="#igo/text">Text</a></li>
		<li><a href="#igo/textarea">TextArea</a></li>
		<li><a href="#igo/togglebox">ToggleBox</a></li>
		<li><a href="#igo/tooltip">Tooltip</a></li>
		<br/><hr/>
		<li><a href="/index?core">IndigoJS Core</a></li>
	</ul>
</div>
<div class="right">
	<h1>Indigo Components</h1>
	<p>
		IndigoJS is a lightweight UI framework built for use with HTML5 and modern browsers. It allows for creation of UI components similar to that of jQuery, but with minimal CSS and JavaScript code. For use with older browsers and IE, the jQuery UI package is recommended instead.
	</p>

	<h1 id="igo/accordion">Accordion</h1>
	<p>
		The Accordion is a navigator made up of child containers declared as an array. Each child uses the parent container’s navigator button. This button, when triggered by the user, uses animation to expand the corresponding child container and collapse whichever one was currently being displayed. By default, only one child container is expanded at a time, however this can be altered such that multiple containers are simultaneously displayed by setting <code>multiple</code> = true.
	</p>
	<div ig-ns="accordion">
		<p>
			<b>Example:</b>
			Default header
		</p>
		<%- code('igoAccordion', {labels: `[<i>'Label1'</i>, <i>'Label2'</i>, <i>'Label3'</i>]`}) %>
		<%- $('igoAccordion', {labels: ['Label1', 'Label2', 'Label3']}) %><hr/>

		<p>
			<b>Example:</b>
			Customizing content, multiple selection, and default view index
		</p>
		<%- code('igoAccordion', {labels: `['Label1', 'Label2', 'Label3']`, contents: `[<i>'View1'</i>, <i>'View2'</i>, <i>'View3'</i>]`, multiple: `<i>true</i>`, selectedIndex: `<i>1</i>`}) %>
		<%- $('igoAccordion', {labels: ['Label1', 'Label2', 'Label3'], contents: ['View1', 'View2', 'View3'], multiple: true, selectedIndex: 1}) %><hr/>

		<p>
			<b>Example:</b>
			Replacing content with available templates
		</p>
		<%- code('igoAccordion', {labels: `['Label1', 'Label2', 'Label3']`, contents: `['View1', 'View2', 'View3']`, templates: `[<i>'#templ'</i>, null, <i>'#templ'</i>]`}, templ) %>
		<%- $('igoAccordion', {labels: ['Label1', 'Label2', 'Label3'], contents: ['View1', 'View2', 'View3'], templates: ['#templ', null, '#templ']}) %><hr/>
	</div>

	<h1 id="igo/button">Button</h1>
	<p>
		The Button component allows the user to easily  interact with the interface and navigate through an application. By default the Button is rectangular, however the style attributes can be modified to change shape and color and to specify labels and icons to clearly convey what action will be  carried out. Each button is associated with a handler method which listens for a specified event and calls a particular function when triggered.
	</p>
	<div ig-ns="button">
		<p>
			<b>Example:</b>
			Default Button
		</p>
		<%- code('igoButton', {label: `<i>'Hello World - 1'</i>`}) %>
		<%- $('igoButton', {label: `Hello World - 1`}) %><hr/>

		<p>
			<b>Example:</b>
			Left-Aligning icon
		</p>
		<%- code('igoButton', {label: `'Hello World - 2'`, icon: `<i>'${icon}'</i>`}) %>
		<%- $('igoButton', {label: `Hello World - 2`, icon: icon}) %><hr/>

		<p>
			<b>Example:</b>
			Right-Aligning Icon
		</p>
		<%- code('igoButton', {label: `'Hello World - 3'`, icon: `'${icon}'`, icon_align: `<i>'right'</i>`}) %>
		<%- $('igoButton', {label: `Hello World - 3`, icon: icon, icon_align: 'right'}) %><hr/>

		<p>
			<b>Example:</b>
			Customizing style
		</p>
		<%- code('igoButton', {label: `'Hello World - 4'`, style: `<i>'color: green; font-weight: bold'</i>`, icon_class: `<i>'icon-flag'</i>`}) %>
		<%- $('igoButton', {label: `Hello World - 4`, style: 'color: green; font-weight: bold', icon_class: 'icon-flag'}) %><hr/>

		<p>
			<b>Example:</b>
			Assigning component id and class name
		</p>
		<%- code('igoButton', {label: `'Hello World - 5'`, id: `<i>'mybutton'</i>`, class: `<i>'custom'</i>`}) %>
		<%- $('igoButton', {label: `Hello World - 5`, id: 'mybutton', class: 'custom'}) %><hr/>

		<p>
			<b>Example:</b>
			Using disabled property
		</p>
		<%- code('igoButton', {label: `'Hello World - 6'`, class: `'custom'`, disabled: `<i>true</i>`}) %>
		<%- $('igoButton', {label: `Hello World - 6`, class: 'custom', disabled: true}) %><hr/>
	</div>

	<h1 id="igo/checkbox">Checkbox</h1>
	<p>
		<p>The Checkbox is a square-shaped component that stores a <em>boolean</em> value based on the user’s input. If the user does not interact with the component, the boolean value will remain default. The <code>checked</code> attribute is used to set the default value of the Checkbox, and the <code>disabled</code> attribute is used to prevent the user from changing the value. Checkbox will retain its styling across platforms. </p>
	</p>
	<div ig-ns="checkbox">
		<p>
			<b>Example:</b>
			Default Checkbox
		</p>
		<%- code('igoCheckbox', {label: `<i>'Hello World - 1'</i>`}) %>
		<%- $('igoCheckbox', {label: `Hello World - 1`}) %><hr/>

		<p>
			<b>Example:</b>
			Using checked attribute
		</p>
		<%- code('igoCheckbox', {label: `'Hello World - 2'`, checked: `<i>true</i>`}) %>
		<%- $('igoCheckbox', {label: `Hello World - 2`, checked: true}) %><hr/>

		<p>
			<b>Example:</b>
			Partial Checkbox
		</p>
		<%- code('igoCheckbox', {label: `'Hello World - 3'`, checked: true, partial: `<i>true</i>`}) %>
		<%- $('igoCheckbox', {label: `Hello World - 3`, checked: true, partial: true}) %><hr/>

		<p>
			<b>Example:</b>
			Custom styling Checkbox
		</p>
		<%- code('igoCheckbox', {label: `'Hello World - 4'`, style: `<i>'color: green; font-weight: bold'</i>`}) %>
		<%- $('igoCheckbox', {label: `Hello World - 4`, style: 'color: green; font-weight: bold'}) %><hr/>

		<p>
			<b>Example:</b>
			Assigning component id and class name
		</p>
		<%- code('igoCheckbox', {label: `'Hello World - 5'`, id: `<i>'mycheckbox'</i>`, class: `<i>'custom'</i>`}) %>
		<%- $('igoCheckbox', {label: `Hello World - 5`, id: 'mycheckbox', class: 'custom'}) %><hr/>

		<p>
			<b>Example:</b>
			Disabling Checkbox
		</p>
		<%- code('igoCheckbox', {label: `'Hello World - 6'`, class: `'custom'`, disabled: `<i>true</i>`}) %>
		<%- $('igoCheckbox', {label: `Hello World - 6`, class: 'custom', disabled: true}) %><hr/>
	</div>

	<h1 id="igo/datefield">DateField</h1>
	<p>
	The DateField component provides the user with a convenient way to select dates. The DateField control is displayed as a text input field with a calendar icon on its right side. Upon clicking the icon, the user is presented with a <code>CalendarControl</code>, from which they can scroll through months and years to select a specific date. Once a date has been selected, the <code>CalendarControl</code> will collapse and the DateField control will be populated with the selected date. If the user does not select a date, they can click the icon to collapse the calendar control and leave the DateField in its previous state. The DateField component can be customized to include prompts and styling attributes.

	</p>
	<div ig-ns="datefield">
		<p>
			<b>Example:</b>
			Default DateField
		</p>
		<%- code('igoDatefield') %>
		<%- $('igoDatefield') %><hr/>

		<p>
			<b>Example:</b>
			Defining prompt text
		</p>
		<%- code('igoDatefield', {prompt: `<i>'Select a date'</i>`}) %>
		<%- $('igoDatefield', {prompt: 'Select a date'}) %><hr/>

		<p>
			<b>Example:</b>
			Setting time using milliseconds
		</p>
		<%- code('igoDatefield', {timestamp:`<i>Date.now()</i>`}) %>
		<%- $('igoDatefield', {timestamp: Date.now()}) %><hr/>

		<p>
			<b>Example:</b>
			Customizing style
		</p>
		<%- code('igoDatefield', {timestamp: `new Date(2012, 0, 25).getTime()`, style: `<i>'color: green; font-weight: bold'</i>`}) %>
		<%- $('igoDatefield', {timestamp: new Date(2012, 0, 25).getTime(), style: 'color: green; font-weight: bold'}) %><hr/>

		<p>
			<b>Example:</b>
			Customizing days of week
		</p>
		<%- code('igoDatefield', {days: `<i>${JSON.stringify(customDay)}</i>`, months: `<i>${JSON.stringify(customMonth)}</i>`}) %>
		<%- $('igoDatefield', {days: customDay, months: customMonth}) %><hr/>

		<p>
			<b>Example:</b>
			Disabling DateField
		</p>
		<%- code('igoDatefield', {prompt: `'Disabled'`, class: `'custom'`, disabled: `<i>true</i>`}) %>
		<%- $('igoDatefield', {prompt: 'Disabled', class: 'custom', disabled: true}) %><hr/>
	</div>

	<h1 id="igo/dialog">Dialog</h1>
	<p>
		The Dialog component creates a modal with three distinct sections: header, footer, and content. Each can be customized to display specified information to the user. The Dialog box covers a part of the UI and can be used for short messages and quick decisions (such as error messages and password confirmation). User flows that require more in-depth information would be better-suited for full-screen.
	</p>
	<div ig-ns="dialog">
		<p>
			<b>Example:</b>
			Default Dialog
		</p>
		<%- code('igoDialog', {id: `'dlg_default'`}) %>
		<%- $('igoDialog', {id: 'dlg_default'}) %>
		<%- $('igoButton', {label: 'Default Dialog', attrs: {dialog_id: 'dlg_default'}} ) %><hr/>

		<p>
			<b>Example:</b>
			Defining title, content and footer buttons
		</p>
		<%- code('igoDialog', {id: `'dlg_custom'`, title: `<i>'Dialog Title'</i>`, content: `<i>'Dialog Content'</i>`, 
			buttons: `<i>[{label: 'OK', style: 'color: red; font-weight: bold'}, {label: 'Close', class: 'close'}]</i>`}) %>
		<%- $('igoDialog', {id: 'dlg_custom', title: 'Dialog Title', content: 'Dialog Content', 
			buttons: [{label: 'OK', style: 'color: red; font-weight: bold'}, {label: 'Close', class: 'close'}]}) %>
		<%- $('igoButton', {label: 'Custom Dialog', attrs: {dialog_id: 'dlg_custom'}} ) %><hr/>

		<script type="text/template" id="dlg_header">
			<span class="close pull-right">Close</span>
			<span class="title">Template Dialog</span>
		</script>

		<script type="text/template" class="dlg_footer">
			<button class="close">OK</button>
		</script>

		<%
		var dlg_header = `<b>&lt;script</b> type="<b>text/template</b>" id="<i>dlg_header</i>"&gt;<br/>
			&emsp;&lt;span class="close pull-right"&gt;<span class="val">Close</span>&lt;/span&gt;<br/>
			&emsp;&lt;span class="title"&gt;<span class="val">Template Dialog</span>&lt;/span&gt;<br/>
		<b>&lt;/script&gt;</b><br/><br/>`;

		var dlg_footer = `<b>&lt;script</b> type="<b>text/template</b>" id="<i>dlg_footer</i>"&gt;<br/>
			&emsp;&lt;button class="close"&gt;<span class="val">OK</span>&lt;/button&gt;<br/>
		<b>&lt;/script&gt;</b><br/><br/>`;
		%>

		<p>
			<b>Example:</b>
			Using pre-defined templates
		</p>
		<%- code('igoDialog', {id: `'dlg_template'`, header_template: `<i>'#dlg_header'</i>`, content_template: `<i>'#templ'</i>`, footer_template: `<i>'.dlg_footer'</i>`}, [dlg_header, templ, dlg_footer].join('')) %>
		<%- $('igoDialog', {id: 'dlg_template', header_template: '#dlg_header', content_template: '#templ', footer_template: '.dlg_footer'}) %>
		<%- $('igoButton', {label: 'Template Dialog', attrs: {dialog_id: 'dlg_template'}} ) %><hr/>
	</div>

	<h1 id="igo/dropdown">Dropdown</h1>
	<p>
		The Dropdown component provides the user with a collapsible list of options from which they can select a single value. The default value can be set using <code>selectedIndex</code>. If no value is specified, it can be set with <code>prompt</code>.

	</p>
	<div ig-ns="dropdown">
		<p>
			<b>Example:</b>
			Default Dropdown
		</p>
		<%- code('igoDropdown', {id: `'mydropdown'`}) %>
		<%- $('igoDropdown', {id: 'mydropdown'}) %><hr/>

		<p>
			<b>Example:</b>
			Using menu items, selecting index and expanding by default
		</p>
		<%- code('igoDropdown', {menus: `[<i>'Menu1'</i>, <i>'Menu2'</i>, <i>'Menu3'</i>]`, selectedIndex: `<i>0</i>`, open: `<i>true</i>`}) %>
		<%- $('igoDropdown', {menus: ['Menu1', 'Menu2', 'Menu3'], selectedIndex: 0, open: true}) %><hr/>

		<p>
			<b>Example:</b>
			Setting default prompt and customizing style
		</p>
		<%- code('igoDropdown', {prompt: `<i>'Hello World - 1'</i>`, style: `<i>'color: green; font-weight: bold'</i>`}) %>
		<%- $('igoDropdown', {prompt: `Hello World - 1`, style: 'color: green; font-weight: bold'}) %><hr/>

		<p>
			<b>Example:</b>
			Setting menu as an array of objects using a pre-defined <code>label</code> labelField
		</p>
		<%- code('igoDropdown', {prompt: `'Hello World - 2'`, menus: `[{<i>label</i>: 'Menu1'}, {<i>label</i>: 'Menu2', <i>selected: true</i>}, {<i>label</i>: 'Menu3'}]`}) %>
		<%- $('igoDropdown', {prompt: `Hello World - 2`, menus: [{label: 'Menu1'}, {label: 'Menu2', selected: true}, {label: 'Menu3'}]}) %><hr/>

		<p>
			<b>Example:</b>
			Setting menu as an array of objects using customized labelField
		</p>
		<%- code('igoDropdown', {menus: `[{<i>lbl</i>: 'Menu1'}, {<i>lbl</i>: 'Menu2'}, {<i>lbl</i>: 'Menu3'}]`, labelField: `<i>'lbl'</i>`, selectedIndex: 1}) %>
		<%- $('igoDropdown', {menus: [{lbl: 'Menu1'}, {lbl: 'Menu2'}, {lbl: 'Menu3'}], labelField: 'lbl', selectedIndex: 1}) %><hr/>

		<%
			function customLabelRenderer(menu, opts, defaultItemRenderer, index) {
				return $('igoRadio', {label: '%LABEL%', checked: true});
			};

			function customItemRenderer(menu, opts, defaultItemRenderer, index) {
				return `<li data="%DATA%">${ $('igoCheckbox', {label: '%LABEL%', style: menu.style}) }</li>`;
			}
		%>

		<p>
			<b>Example:</b>
			Using customized <code>itemRenderer</code> and <code>labelRenderer</code>
		</p>
		<%- code('igoDropdown', {menus: `[
			{lf: 'Menu1', df: 1}, {lf: 'Menu2', df: 2, style: 'color: red'}, {lf: 'Menu3', df: 3, selected: true}]`, 
			labelField: `'lf'`, dataField: `'df'`, labelRenderer: `<i>'&lt;input type="radio" checked/&gt;%LABEL%'</i>`, itemRenderer: `<i>'&lt;li&gt;&lt;input type="checkbox" data="%DATA%"/&gt;%LABEL%&lt;/li&gt;'</i>`}) %>

		<%- $('igoDropdown', {menus: [
			{lf: 'Menu1', df: 1}, {lf: 'Menu2', df: 2, style: 'color: red'}, {lf: 'Menu3', df: 3, selected: true}], 
			labelField: 'lf', dataField: 'df', labelRenderer: customLabelRenderer, itemRenderer: customItemRenderer}) %><hr/>

		<p>
			<b>Example:</b>
			Default Dropdown
		</p>
		<%- code('igoDropdown', {prompt: `'Hello World - 3'`, class: `'custom'`, disabled: `<i>true</i>`}) %>
		<%- $('igoDropdown', {prompt: `Hello World - 3`, class: 'custom', disabled: true}) %><hr/>
	</div>

	<h1 id="igo/file">File</h1>
	<p>
		The File component allows the user to select and upload a file from their own directories. The file system directory is organized in a tree structure. Upon clicking the File control, the user is presented with a File Dialog window in which their directory’s content is displayed.
	</p>
	<div ig-ns="file">
		<p>
			<b>Example:</b>
			Using custom label
		</p>
		<%- code('igoFile', {label: `<i>'Upload File...'</i>`}) %>
		<%- $('igoFile', {label: 'Upload File...'}) %><hr/>

		<p>
			<b>Example:</b>
			Applying icon style and disabled click
		</p>
		<%- code('igoFile', {label: `'Upload File...'`, class: `<i>'icon'</i>`, disabled: `<i>true</i>`}) %>
		<%- $('igoFile', {label: 'Upload File...', class: 'icon', disabled: true}) %><hr/>
	</div>

	<h1 id="igo/hbox">HBox</h1>
	<p>
		The HBox is a layout pane which presents its children in a single horizontal row. The custom size on the <code>left</code> or <code>right</code> is specified, and the remaining elements will take up the remaining width of the parent element. The HBox prevents the element with unspecified width from overflowing to a new line. 
	</p>
	<div ig-ns="hbox">
		<p>
			<b>Example:</b>
			Float Right
		</p>
		<%- code('igoHbox', {right: `<i>'&lt;button&gt;OK&lt;/button&gt;'</i>`, content: `<i>'&lt;input value="Hello World - 1"/&gt;'</i>`}) %>
		<%- $('igoHbox', {
			right: '<button>OK</button>',
			content: `<input value="Hello World - 1"/>`,
			parentStyle: 'display: block; width: 400px; padding: 10px; border: 1px solid red'
		}) %><hr/>

		<p>
			<b>Example:</b>
			Float Left
		</p>
		<%- code('igoHbox', {left: `<i>'&lt;button&gt;OK&lt;/button&gt;'</i>`, content: `<i>'&lt;input value="Hello World - 2"/&gt;'</i>`}) %>
		<%- $('igoHbox', {
			left: '<button>OK</button>',
			content: `<input value="Hello World - 2"/>`,
			parentStyle: 'display: block; width: 400px; padding: 10px; margin: 10px 0; border: 1px solid blue'
		}) %><hr/>

		<p>
			<b>Example:</b>
			Content only
		</p>
		<%- code('igoHbox', {content: `<i>'&lt;input value="Hello World - 3"/&gt;'</i>`}) %>
		<%- $('igoHbox', {
			content: $('igoInput', {value: `Hello World - 3`}),
			parentStyle: 'display: block; width: 400px; padding: 10px; margin: 10px 0; border: 1px solid green'
		}) %><hr/>
	</div>

	<h1 id="igo/image">Image</h1>
	<p>
		The image control makes it possible to import image files (including GIF, JPEG, PNG, etc.) at runtime. The image can be loaded into an HTML <code>DIV</code> or <code>IMG</code> control when <code>img</code> is set to true. Images can be customized with regards to size, styling, etc.
	</p>
	<div ig-ns="image">
		<p>
			<b>Example:</b>
			Setting image url
		</p>
		<%- code('igoImage', {url: `<i>'/images/indigo.png'</i>`}) %>
		<%- $('igoImage', {url: `${baseStaticPath}/images/indigo.png`}) %><hr/>

		<p>
			<b>Example:</b>
			Image sizing using pixels
		</p>
		<%- code('igoImage', {url: `'/images/indigo.png'`, width: `<i>30</i>`, height: `<i>30</i>`}) %>
		<%- $('igoImage', {url: `${baseStaticPath}/images/indigo.png`, width: 30, height: 30, title: 'indigo JS'}) %><hr/>

		<p>
			<b>Example:</b>
			Image sizing using em and title
		</p>
		<%- code('igoImage', {url: `'/images/indigo.png'`, width: `<i>'2em'</i>`, height: `<i>'2em'</i>`, title: `<i>'indigo JS'</i>`}) %>
		<%- $('igoImage', {url: `${baseStaticPath}/images/indigo.png`, width: '2em', height: '2em', title: 'indigo JS'}) %><hr/>

		<p>
			<b>Example:</b>
			Using IMG tag
		</p>
		<%- code('igoImage', {url: `'/images/indigo.png'`, img: `<i>true</i>`}) %>
		<%- $('igoImage', {url: `${baseStaticPath}/images/indigo.png`, img: true}) %><hr/>
	</div>

	<h1 id="igo/input">Input</h1>
	<p>
		The Input control allows for secure gathering and handling of user input. Input needs to be altered for each platform to ensure that styling and interaction guidelines are followed and the user will have a smooth experience. The input text can have a specified input-type to customize styling and appearance. The Input field can also be disabled, preventing the user from entering any information, by setting the <code>disabled</code> property to <code>true</code>.

	</p>
	<div ig-ns="input">
		<p>
			<b>Example:</b>
			Input value parameter
		</p>
		<%- code('igoInput', {value: `<i>'Hello World - 1'</i>`}) %>
		<%- $('igoInput', {value: `Hello World - 1`}) %><hr/>

		<p>
			<b>Example:</b>
			Using custom class
		</p>
		<%- code('igoInput', {value: `'Hello World - 2'`, class: `<i>'custom'</i>`}) %>
		<%- $('igoInput', {value: `Hello World - 2`, class: 'custom'}) %><hr/>

		<p>
			<b>Example:</b>
			Disabling input field
		</p>
		<%- code('igoInput', {value: `'Hello World - 3'`, class: `'custom'`, disabled: `<i>true</i>`}) %>
		<%- $('igoInput', {value: `Hello World - 3`, class: 'custom', disabled: true}) %><hr/>

		<p>
			<b>Example:</b>
			Input field attributes
		</p>
		<%- code('igoInput', {value: `'Hello'`, maxlen: `<i>5</i>`, required: `<i>true</i>`, style: `<i>'color: green'</i>`}) %>
		<%- $('igoInput', {value: 'Hello', maxlen: 5, required: true, style: 'color: green'}) %><hr/>

		<p>
			<b>Example:</b>
			Changing input type 
		</p>
		<%- code('igoInput', {value: 'Hello World - 4', type: `<i>'password'</i>`}) %>
		<%- $('igoInput', {value: `Hello World - 4`, type: 'password'}) %><hr/>
	</div>

	<h1 id="igo/menu">Menu</h1>
	<p>
		The Menu is a navigation component that contains links to other pages or bookmarks. By default, this control is a horizontal top-level menu bar that can contain pop-up sub-menus. The Menu automatically adapts to whichever platform it is being run on, however can be customized. The top-level menu is generally visible at all times. Open sub-menus disappear as the user selects an item or clicks outside of the menu.
	</p>
	<div ig-ns="menu">
		<p>
			<b>Example:</b>
			Creating custom menu
		</p>
		<%- code('igoMenu', {menus: `<i>[{label: 'Menu 1', class: 'icon us'}, {label: 'Menu 2', class: 'icon gb'}, {label: 'Menu 3', class: 'icon ca'}]</i>`, background: `'#0d76d0'`}) %>
		<style>
			.icon>p:before {
				width: 16px;
				background-image: url('<%- baseStaticPath %>/images/flags.png'); 
				background-repeat: no-repeat;
				line-height: 1.1;
			}
			.us>p:before {
				background-position: -112px -223px;
			}
			.gb>p:before {
				background-position: -160px -79px;
			}
			.ca>p:before {
				background-position: -64px -47px;
			}
		</style>
		<%- $('igoMenu', {menus: [{label: 'Menu 1', class: 'icon us'}, {label: 'Menu 2', class: 'icon gb'}, {label: 'Menu 3', class: 'icon ca'}], background: '#0d76d0'}) %><hr/>

		<p>
			<b>Example:</b>
			Selecting menu by index and defining custom <code>labelField</code>
		</p>
		<%- code('igoMenu', {menus: `[{<i>lbl</i>: 'Menu 1'}, {<i>lbl</i>: 'Menu 2'}]`, labelField: `<i>'lbl'</i>`, selectedIndex: `<i>1</i>`, background: `'#5b87ac'`}) %>
		<%- $('igoMenu', {menus: [{lbl: 'Menu 1'}, {lbl: 'Menu 2'}], labelField: 'lbl', selectedIndex: 1, background: '#5b87ac'}) %><hr/>

		<p>
			<b>Example:</b>
			Creating menu using <code>itemRenderer</code>
		</p>
		<%- code('igoMenu', {menus: `[{lbl: 'Menu 1'}]`, itemRenderer: `<i>'&lt;li class="icon us"&gt;&lt;p&gt;%LABEL%&lt;/p&gt;&lt;/li&gt;'</i>`, background: `'#cf4d4d'`}) %>
		<%- $('igoMenu', {menus: [{label: 'Menu 1'}], itemRenderer: function() { return `<li class="icon us"><p>%LABEL%</p></li>`}, background: '#cf4d4d'}) %><hr/>

		<p>
			<b>Example:</b>
			Creating sub menus
		</p>
		<%- code('igoMenu', {menus: `<i>'[{label: 'Menu 1', nav: 'http://indigojs.com', target: '_blank', sub: [
					{label: 'Sub1', class: 'custom'}, {label: 'Sub2', sub: [
						{label: 'Sub2-1'}
					]}
				]
			}]'</i>`, background: `'#5d9747'`}) %>
		<%- $('igoMenu', {menus: [{label: 'Menu 1', nav: 'http://indigojs.com', target: '_blank', sub: [
					{label: 'Sub1', class: 'custom'}, {label: 'Sub2', sub: [
						{label: 'Sub2-1'}
					]}
				]
			}], background: '#5d9747'}) %><hr/>
	</div>

	<h1 id="igo/radio">Radio</h1>
	<p>
		The Radio is an input component which contains a boolean value, similar to the Checkbox. Unlike the Checkbox, Radio buttons are generally part of a group. Radio buttons can be grouped using the IndigoJs <code>radiogroup</code> component or <code>group</code> property. Exactly one button must be selected from the Radio group. Radio buttons are styled differently across platforms.
	</p>
	<div ig-ns="radio">
		<p>
			<b>Example:</b>
			Label and checked attributes
		</p>
		<%- code('igoRadio', {label: `<i>'Hello World - 1'</i>`, checked: `<i>true</i>`}) %>
		<%- $('igoRadio', {label: `Hello World - 1`, checked: true}) %><hr/>

		<p>
			<b>Example:</b>
			Grouping radio buttons by group name
		</p>
		<%- code('igoRadio', {label: `'Hello World - 3'`, group: `<i>'group_buttons'</i>`, checked: true}, `<b>&lt;%- $(</b>'<span class="cid">igoRadio</span>', {<b>label</b>: <span class="val">'Hello World - 2'</span>, <b>group</b>: <i>'group_buttons'</i><b>}) %&gt;</b><br/>`) %>
		<%- $('igoRadio', {label: `Hello World - 2`, group: 'group_buttons'}) %><br/>
		<%- $('igoRadio', {label: `Hello World - 3`, group: 'group_buttons', checked: true}) %><hr/>

		<p>
			<b>Example:</b>
			Grouping radio buttons by using <code>radiogroup</code>
		</p>
		<%- code('igoRadio', {label: `'Hello World - 5'`, group: `'group_yes_no'`, value: `<i>'no'</i>`, class: `'custom'`}, `<b>&lt;%- $(</b>'<span class="cid">igoRadiogroup</span>', {<b>id</b>: <span class="val">'group_yes_no'</span>, <b>value</b>: <i>'no'</i><b>}) %&gt;</b><br/><b>&lt;%- $(</b>'<span class="cid">igoRadio</span>', {<b>label</b>: <span class="val">'Hello World - 4'</span>, <b>group</b>: <span class="val">'group_yes_no'</span>, <b>value</b>: <i>'yes'</i>, <b>style</b>: <span class="val">'color: green; font-weight: bold'</span><b>}) %&gt;</b><br/>`) %>
		<%- $('igoRadiogroup', {id: 'group_yes_no', value: 'no'}) %>
		<%- $('igoRadio', {label: `Hello World - 4`, group: 'group_yes_no', value: 'yes', style: 'color: green; font-weight: bold'}) %><br/>
		<%- $('igoRadio', {label: `Hello World - 5`, group: 'group_yes_no', value: 'no', class: 'custom'}) %><hr/>

		<p>
			<b>Example:</b>
			Disabling radio button
		</p>
		<%- code('igoRadio', {label: `'Hello World - 6'`, class: `'custom'`, disabled: `<i>true</i>`}) %>
		<%- $('igoRadio', {label: `Hello World - 6`, class: 'custom', disabled: true}) %>
	</div>

	<h1 id="igo/switch">Switch</h1>
	<p>
		Like the Checkbox, a Switch component holds a boolean value. The Switch allows the user to turn a particular setting or feature on or off. This component can be customized with styling properties as well as certain attributes (such as <code>disabled</code> and <code>checked</code>) to control its behavior.
	</p>
	<div ig-ns="switch">
		<p>
			<b>Example:</b>
			Default switch
		</p>
		<%- code('igoSwitch') %>
		<%- $('igoSwitch') %><hr/>

		<p>
			<b>Example:</b>
			Setting title and changing state
		</p>
		<%- code('igoSwitch', {title: `<i>'Network Control'</i>`, checked: `<i>true</i>`}) %>
		<%- $('igoSwitch', {title: 'Network Control', checked: true}) %><hr/>

		<style>
			.myswitch input:checked + .slider {
				background-color: red !important;
			}
		</style>
		<p>
			<b>Example:</b>
			Applying custom style
		</p>
		<%- code('igoSwitch', {title: `'Settings'`, checked: true, class: `<i>'myswitch'</i>`}, `<b>&lt;style&gt;</b><br><i>.myswitch</i> input:checked + .slider {<br>	<span class="val">&emsp;background-color: red !important;</span><br>}<br><b>&lt;/style&gt;</b><br>`) %>
		<%- $('igoSwitch', {title: 'Settings', checked: true, class: 'myswitch'}) %><hr/>

		<p>
			<b>Example:</b>
			Disabling switch
		</p>
		<%- code('igoSwitch', {title: `'Power Control'`, checked: true, disabled: `<i>true</i>`}) %>
		<%- $('igoSwitch', {title: 'Power Control', checked: true, disabled: true}) %><hr/>
	</div>

	<h1 id="igo/tabs">Tabs</h1>
	<p>
		
		The tab component allows for a multi-tabbed interface. Each tab is associated with a particular view. The user can navigate between views by clicking on their respective tabs. The tab contents can be set with labels and predefined templates. When the user clicks a new tab, the previously displayed view will be hidden completely prior to loading the new one.
	</p>
	<div ig-ns="tabs">
		<p>
			<b>Example:</b>
			Setting header tabs
		</p>
		<%- code('igoTabs', {labels: `<i>['Label1', 'Label2', 'Label3']</i>`}) %>
		<%- $('igoTabs', {labels: ['Label1', 'Label2', 'Label3']}) %><hr/>

		<p>
			<b>Example:</b>
			Setting tab content and apply selected index
		</p>
		<%- code('igoTabs', {labels: `['Label1', 'Label2', 'Label3']`, contents: `<i>['View1', 'View2', 'View3']</i>`, selectedIndex: `<i>1</i>`}) %>
		<%- $('igoTabs', {labels: ['Label1', 'Label2', 'Label3'], contents: ['View1', 'View2', 'View3'], selectedIndex: 1}) %><hr/>

		<p>
			<b>Example:</b>
			Using predefined templates
		</p>
		<%- code('igoTabs', {labels: `['Label1', 'Label2', 'Label3']`, contents: `['View1', 'View2', 'View3']`, templates: `[<i>'#templ'</i>, null, <i>'#templ'</i>]`}, templ) %>
		<%- $('igoTabs', {labels: ['Label1', 'Label2', 'Label3'], contents: ['View1', 'View2', 'View3'], templates: ['#templ', null, '#templ']}) %><hr/>
	</div>

	<h1 id="igo/text">Text</h1>
	<p>
		The Text control displays text that is longer than a single line. By default, the text will be uneditable, however this can be changed by setting <code>editable = true</code>. The text can be formatted with HTML tags and padding properties. Text aligns contents top left and does not support scrolling features. The width and height properties can be customized. If the text content exceeds the specified height limit, an ellipsis should be used. 

	</p>
	<div ig-ns="text">
		<p>
			<b>Example:</b>
			Displaying the entire text
		</p>
		<%- code('igoText', {value: `<i>'Lorem ipsum dolor sit amet...'</i>`}) %>
		<%- $('igoText', {value: loremIpsum, class: 'boxStyle'}) %><hr/>

		<p>
			<b>Example:</b>
			Defining maximum viewpoint height
		</p>
		<%- code('igoText', {value: `'Lorem ipsum dolor sit amet...'`, height: `<i>16</i>`}) %>
		<%- $('igoText', {value: loremIpsum, class: 'boxStyle', height: 16, parentStyle: 'border-color: blue'}) %><hr/>

		<p>
			<b>Example:</b>
			Applying ellipsis
		</p>
		<%- code('igoText', {value: `'Lorem ipsum dolor sit amet...'`, height: 16, ellipsis: `<i>true</i>`}) %>
		<%- $('igoText', {value: loremIpsum, class: 'boxStyle', height: 16, parentStyle: 'border-color: yellow', ellipsis: true}) %><hr/>

		<p>
			<b>Example:</b>
			Setting editable text with ellipsis
		</p>
		<%- code('igoText', {value: `'Lorem ipsum dolor sit amet...'`, height: 54, ellipsis: true, editable: `<i>true</i>`}) %>
		<%- $('igoText', {value: loremIpsum, class: 'boxStyle', height: 54, parentStyle: 'border-color: magenta', ellipsis: true, editable: true}) %><hr/>

		<p>
			<b>Example:</b>
			Customizing style
		</p>
		<%- code('igoText', {value: `'Lorem ipsum dolor sit amet...'`, height: 98, ellipsis: true, style: `<i>'color: green; font-size: 18px; line-height: 2; font-weight: bold'</i>`}) %>
		<%- $('igoText', {value: loremIpsum, class: 'boxStyle', height: 98, parentStyle: 'border-color: red', ellipsis: true, style: 'color: green; font-size: 18px; line-height: 2; font-weight: bold'}) %><hr/>

		<p>
			<b>Example:</b>
			Text rendering function
		</p>
		<%- code('igoText', {value: `<i>function(opts) { return opts.text.substring(0, 45) + '...' }</i>`}) %>
		<%- $('igoText', {value: function(opts) { return opts.text.substring(0, 45) + '...' }, text: loremIpsum, class: 'boxStyle', parentStyle: 'min-height: 22px; border-color: orange'}) %>
	</div>

	<h1 id="igo/textarea">TextArea</h1>
	<p>
		The TextArea control is based on HTML TextArea, however it can be set to display a specified amount of rows and maximum length. To disable text editing, the <code>disabled</code> property should be set to true. TextArea does not support resizing and is compatible across browsers.
	</p>
	<div ig-ns="textarea">
		<p>
			<b>Example:</b>
			Setting text value
		</p>
		<%- code('igoTextarea', {value: `<i>'Lorem ipsum dolor sit amet...'</i>`}) %>
		<%- $('igoTextarea', {value: loremIpsum}) %><hr/>

		<p>
			<b>Example:</b>
			Setting total rows and disable for editing
		</p>
		<%- code('igoTextarea', {value: `'Lorem ipsum dolor sit amet...'`, rows: `<i>5</i>`, disabled: `<i>true</i>`}) %>
		<%- $('igoTextarea', {value: loremIpsum, rows: 5, disabled: true, parentStyle: 'width: 400px; border: 1px solid blue'}) %><hr/>

		<p>
			<b>Example:</b>
			Defining maxlength and customize input
		</p>
		<%- code('igoTextarea', {value: `<i>function(opts) { return loremIpsum.substring(0, 5) }</i>`, maxlen: `<i>5</i>`}) %>
		<%- $('igoTextarea', {value: function(opts) { return loremIpsum.substring(0, 5) }, maxlen: 5, class: 'boxStyle'}) %><hr/>
	</div>

	<h1 id="igo/togglebox">ToggleBox</h1>
	<p>
		The ToggleBox control allows for displaying and hiding information from view. When the associated button is selected, the information in the ToggleBox will be displayed; when deselected it will be collapsed. It is possible to define multiple toggled content items to be displayed simultaneously by using the <code>toggle-content</code> class.
	</p>
	<div ig-ns="togglebox">
		<p>
			<b>Example:</b>
			Defining Label and Toggle Content
		</p>
		<%- code('igoTogglebox', {label: `<i>'Hello World 1'</i>`, content: `<i>'&lt;p class="toggle-content"&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;'</i>`}) %>
		<%- $('igoTogglebox', {label: `Hello World - 1`, content: `<p class="toggle-content">${loremIpsum}</p>`}) %><hr/>

		<p>
			<b>Example:</b>
			Defining Template
		</p>
		<%- code('igoTogglebox', {label: `'Hello World 2'</i>`, template: `<i>'#templ'</i>`}, templ) %>
		<%- $('igoTogglebox', {label: `Hello World - 2`, template: '#templ'}) %><hr/>

		<p>
			<b>Example:</b>
			Defining multiple toggle contents
		</p>
		<%- code('igoTogglebox', {label: `'US Population'</i>`, content: `'<i>Header 1&lt;p class="toggle-content">Content 1&lt;/p&gt;Header 2&lt;p class="toggle-content">Content 2&lt;/p&gt;'</i>`}) %>
		<%- $('igoTogglebox', {label: `US Population`, content: `<b>Americans</b>: <p class="toggle-content">308,745,538 - 100.0 %</p>
			<b>White</b>: <p class="toggle-content">196,817,552 - 63.7 %</p>
			<b>Black</b>: <p class="toggle-content">37,685,848 - 12.2 %</p>
			<b>Asian</b>: <p class="toggle-content">14,465,124 - 4.7 %</p>
			<b>American Indian or Alaska Native</b>: <p class="toggle-content">2,247,098 - 0.7 %</p>
			<b>Hispanic or Latino</b>: <p class="toggle-content">: 50,477,594 - 16.3 %</p>
		`}) %><hr/>
	</div>

	<h1 id="igo/tooltip">Tooltip</h1>
	<p>
		The ToolTip functions to provide the user with helpful information. The ToolTip pops up when the user mouses over a particular element, providing information about that element. It can be customized with position settings and styling. If no porition is specified, the Tooltip will automatically position itself relative to its parent container's boundaries.
	</p>
	<div ig-ns="tooltip">
		<center>
			<p>
				<b>Example:</b>
				Setting tooltip top left
			</p>
			<%- code('igoTooltip', {target: `<i>'#topLeft'</i>`, position: `<i>'top-left'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Top Left'</i>, <b>id</b>: <i>'topLeft'</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Top Left', id: 'topLeft', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#topLeft', position: 'top-left'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip top right
			</p>
			<%- code('igoTooltip', {target: `<i>'#topRight'</i>`, position: `<i>'top-right'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Top Right'</i>, <b>id</b>: <i>'topRight'</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Top Right', id: 'topRight', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#topRight', position: 'top-right'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip top center
			</p>
			<%- code('igoTooltip', {target: `<i>'#topCenter'</i>`, position: `<i>'top'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Top Center'</i>, <b>id</b>: <i>'topCenter'</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Top Center', id: 'topCenter', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#topCenter', position: 'top'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip bottom left
			</p>
			<%- code('igoTooltip', {target: `<i>'#bottomLeft'</i>`, position: `<i>'bottom-left'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Bottom Left'</i>, <b>id</b>: <i>'bottomLeft'</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Bottom Left', id: 'bottomLeft', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#bottomLeft', position: 'bottom-left'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip bottom right
			</p>
			<%- code('igoTooltip', {target: `<i>'#bottomRight'</i>`, position: `<i>'bottom-right'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Bottom Right'</i>, <b>id</b>: <i>'bottomRight</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Bottom Right', id: 'bottomRight', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#bottomRight', position: 'bottom-right'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip bottom center
			</p>
			<%- code('igoTooltip', {target: `<i>'#bottomCenter'</i>`, position: `<i>'bottom'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Bottom Center'</i>, <b>id</b>: <i>'bottomCenter</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Bottom Center', id: 'bottomCenter', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#bottomCenter', position: 'bottom'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip left top
			</p>
			<%- code('igoTooltip', {target: `<i>'#leftTop'</i>`, position: `<i>'left-top'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Left Top'</i>, <b>id</b>: <i>'leftTop</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Left Top', id: 'leftTop', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#leftTop', position: 'left-top'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip left bottom
			</p>
			<%- code('igoTooltip', {target: `<i>'#leftBottom'</i>`, position: `<i>'left-bottom'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Left Bottom'</i>, <b>id</b>: <i>'leftBottom</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Left Bottom', id: 'leftBottom', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#leftBottom', position: 'left-bottom'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip left middle
			</p>
			<%- code('igoTooltip', {target: `<i>'#leftMiddle'</i>`, position: `<i>'left'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Left Middle'</i>, <b>id</b>: <i>'leftMiddle</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Left Middle', id: 'leftMiddle', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#leftMiddle', position: 'left'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip right top
			</p>
			<%- code('igoTooltip', {target: `<i>'#rightTop'</i>`, position: `<i>'right-top'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Right Top'</i>, <b>id</b>: <i>'rightTop</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Right Top', id: 'rightTop', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#rightTop', position: 'right-top'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip right bottom
			</p>
			<%- code('igoTooltip', {target: `<i>'#rightBottom'</i>`, position: `<i>'right-bottom'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Right Bottom'</i>, <b>id</b>: <i>'rightBottom</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Right Bottom', id: 'rightBottom', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#rightBottom', position: 'right-bottom'}) %><hr/>

			<p>
				<b>Example:</b>
				Setting tooltip right middle
			</p>
			<%- code('igoTooltip', {target: `<i>'#rightMiddle'</i>`, position: `<i>'right'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Right Middle'</i>, <b>id</b>: <i>'rightMiddle</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Right Middle', id: 'rightMiddle', class: 'border'}) %>
			<%- $('igoTooltip', {target: '#rightMiddle', position: 'right'}) %><hr/>

			<p>
				<b>Example:</b>
				Defining text in tooltip, multiple target selectors and auto position
			</p>
			<%- code('igoTooltip', {value: `<i>'targets should display the same tooltip'</i>`, target: `<i>'#mulSel1, .mulSel2'</i>`, style: `<i>'color: green; font-weight: bold'</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Text 1'</i>, <b>id</b>: <i>'mulSel1</i>}<b>) %&gt;</b><br><b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <i>'Text 2'</i>, <b>class</b>: <i>'mulSel2</i>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: 'Text 3', class: 'mulSel3 border', parentStyle: 'float: right'}) %>
			<%- $('igoText', {value: 'Text 1', id: 'mulSel1', class: 'border', parentStyle: 'float: left'}) %>
			<center><%- $('igoText', {value: 'Text 2', class: 'mulSel2 border'}) %></center>
			<br/>
			<%- $('igoTooltip', {value: 'targets should display the same tooltip', target: '#mulSel1, .mulSel2, .mulSel3', style: 'color: green; font-weight: bold'}) %><hr/>

			<p>
				<b>Example:</b>
				Auto scrolling
			</p>
			<%- code('igoTooltip', {position: 'right', target: `<i>'.rightText'</i>`, width: `'250px'`, height: `'200px'`, scroll: `<i>100</i>`, scrollTimeout: `<i>700</i>`}, `<b>&lt;%- $(</b>'<span class="cid">igoText</span>', {<b>value</b>: <span class="val">'Lorem ipsum dolor sit amet...'</span>, <b>class</b>: <i>'rightText</i>, height: <span class="val">94</span>, ellipsis: <span class="val">true</span>}<b>) %&gt;</b><br>`) %>
			<%- $('igoText', {value: loremIpsum, class: 'rightText boxStyle', height: 94, ellipsis: true}) %>
			<%- $('igoTooltip', {position: 'right', target: '.rightText', width: '250px', height: '200px', scroll: 100, scrollTimeout: 700}) %><hr/>
		</center>
	</div>
</div>

<%- $finalize() %>