<!DOCTYPE html>
<html lang="<%= locality.langugage %>">
<head>
<%- inject(req, 'templates/head.html') %>
<script>
	window.Localization = {
		columns: {
			'key': '<%= locales.content.key %>',
			'path': '<%= locales.content.path %>',
			'localized': '<%= locales.content.localized %>'
		},

		errors: {
			'emptyFile': '<%= locales.errors.emptyFile %>',
			'fileExists': '<%= locales.errors.fileExists %>',
			'errorSaveFile': '<%= locales.errors.errorSaveFile %>'
		},

		defaultLocale: '<%= defaultLocale.key %>'
	}
</script>

</head>
<body>
	<div id="wrap">
		<div class="wrapper" style="display: none">
			<%- inject(req, 'templates/content.html') %>
			<%- inject(req, 'templates/footer.html') %>
		</div>
		<div class="loading"></div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="createlDialog" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><%= locales.content.dialogTile %></h4>
				</div>
				<div class="modal-body">
					<div class="fildset">
						<label><%= locales.content.language %></label>
						<span><select class="language">
							<% for(var i = 0; i < langcode.length; i++) {%>
								<option value="<%= langcode[i][0] %>" <% if (langcode[i][0] === defaultLocale.key) { %> selected <% } %> ><%= langcode[i][1] %></option>
							<% } %>
						</select></span>
					</div>
					<div class="fildset">
						<label><%= locales.content.copyFrom %></label>
						<span><select class="copyFrom">
							<option value="none"><%= locales.content.none %></option>
							<% for(var i = 0; i < filters.length; i++) {%>
								<option><%= filters[i] %></option>
							<% } %>
						</select></span>
					</div>
					<div class="fildset">
						<label><%= locales.content.fileName %></label>
						<span><input class="fileName"/>
						</select></span>
					</div>
					<div class="error"></div>
				</div>
				<div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal"><%= locales.content.cancel %></button>
					<button type="button" class="btn btn-primary"><%= locales.content.create %></button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal -->
	<div class="modal fade" id="deletelDialog" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><%= locales.content.deleteTitle %></h4>
				</div>
				<div class="modal-body">
					<%= locales.content.deleteMessage %>
				</div>
				<div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal"><%= locales.content.cancel %></button>
					<button type="button" class="btn btn-primary"><%= locales.content.delete %></button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal -->
	<div class="modal fade" id="addRowDialog" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><%= locales.content.addRowTile %></h4>
				</div>
				<div class="modal-body">
					<div class="fildset">
						<label><%= locales.content.key %></label>
						<span><input class="langKey"/>
						</select></span>
						<div class="error"><%= locales.errors.duplicateKey %></div>
					</div>
				</div>
				<div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal"><%= locales.content.cancel %></button>
					<button type="button" class="btn btn-primary"><%= locales.content.add %></button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</body>
</html>